/* Global */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container{
  padding: 100px;
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul{
  margin: 0;
  padding: 0;
}
.button_1{
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  height: 38px;
  width: 30%;
  border: 3px solid #E3F0FF;
  background-color: #181818;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.button_1:active{
  position: relative;
  bottom: 2px;
}

/* Body */
body{
  font: 16px/1.5;
  padding: 0;
  margin: 0;
  background-color: #181818;
  color: #ffffff;
}

body h1{
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

body p{
  font-family: 'Lato', sans-serif;
}

/* Navigation Menu */
.nav input[type=checkbox]{
  visibility: hidden;
}

.menu{
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  z-index: 200;
  background: #181818;
  border-bottom: #E3F0FF 5px solid;
  padding: 15px;
  margin: 0 30px 0 0;
}

.menu a{
  text-align: right;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  clear: right;
  color: #ffffff;
  padding: 0 2px 0 2px;
  margin: 0 5px;
}

.menu a:hover{
  color: #FFD9D9;
}

label{
  margin-right: 30px;
  font-size: 35px;
  display: none;
  width: 26px;
  float: right;
}

#toggle{
  display: none;
}


/* Home */
#home{
  border-bottom: solid 5px #E3F0FF;
}
#home h1{
  z-index: 200;
  font-size: 150px;
  text-align: left;
  margin: 0;
  padding-top: 50px;
}

#home h2{
  position: relative;
  font-size: 30px;
  width: 0;
  bottom: 275px;
  white-space: nowrap;
  text-align: left;
  margin-top: 5%;
  margin-left: 50%;

  transform-origin: bottom;



-webkit-transform: rotate(90deg);


-moz-transform: rotate(90deg);

-ms-transform: rotate(90deg);

-o-transform: rotate(90deg);
}

/* Quotes */
#quote-1{
  border-bottom: #E3F0FF 5px solid;
}

#quote-1 h1{
  font-family: 'Lato', sans-serif;
  font-size: 40px;
}

#quote-2{
  border-bottom: #E3F0FF 5px solid;
}

#quote-2 h1{
  font-family: 'Lato', sans-serif;
  font-size: 40px;
}


/* Projects */
#projects{
  padding: 30px;
  border-bottom: #E3F0FF 5px solid;
}

#projects h1{
  text-align: left;
  font-size: 50px;
}

#projects p{
  text-decoration: none;
  font-size: 35px;
}

#projects .p-2 a{
  color: #E3F0FF;
}

/* Gallery */
#gallery{
  height: 900px;
  border-bottom: solid 5px #E3F0FF;
}
#gallery h1{
  font-size: 60px;
}
/*
<button class="left" onclick="plusDivs(-1)">&#10094;</button>
<button class="right" onclick="plusDivs(1)">&#10095;</button>
#gallery button{
  font-size: 30px;
  margin-left: 500px;
}
*/

#gallery img{
  margin: auto;
  border: #FFD9D9 solid 5px;
  max-width: 500px;
  width: 100%;
}

/* About */
#about{
  background:url("../img/about.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 20px;
  border-bottom: #E3F0FF 5px solid;
}

#about h1{
  text-align: center;
  font-size: 50px;
}

#about p{
  text-align: right;
  font-size: 40px;
  padding: 15px;
}

#about .pAbout{
  text-align: center;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
}

#about li{
  margin: 25px;
  transform: translateX(20px);
  padding: 10px;
  text-align: left;
  font-size: 25px;
}

/* Contact */
#contact{
  border-bottom: #E3F0FF 5px solid;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}

#contact h1{
  text-align: left;
  font-size: 50px;
}

#contact p{
  font-size: 20px;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea{
  padding: 12px 12px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  border: #E3F0FF 2.5px solid;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}

#contact .box{
  width: 100%;
  display: inline-flex;
}

/* Footer */
footer p{
  float: left;
  padding: 0 0 20px 20px;
}

.icon{
  padding-top: 10px;
  float: right;
}

/* Social Media Icons/Boxes */
i.fa.fa-facebook, i.fa.fa-twitter, i.fa.fa-instagram{
  border-radius: 100%;
  font-size: 38px;
  width: 48px;
  line-height: 50px;
  margin: 5px;
  text-align: center;
}

i.fa.fa-facebook{
  border: 1px solid #3B5998;
  color: #3B5998;
}

i.fa.fa-twitter{
  border: 1px solid #00aced;
  color: #00aced;
}

i.fa.fa-instagram{
  border: 1px solid #F08080;
  color: #F08080;
}

/* Media Queries */
@media only screen and (max-width: 768px){
  #home h1,
  #home p,
  #projects h1,
  #about h1,
  #about p,
  #contact h1,
  #quote-1 h1,
  #quote-2 h1,
  footer p,
  footer i{
    float: none;
    text-align: center;
    width: 100%;
  }

  .container{
    padding: 15px;
  }

  header{
    padding-bottom: 20px;
  }

  label{
    display: block;
    cursor: pointer;
  }

  .menu{
    all: initial;
  }

  .menu{
    text-align: center;
    width: 100%;
    display: none;
    background: #181818;
    border-bottom: #E3F0FF 5px solid;
    padding: 15px;
    margin: 0 30px 0 0;
  }

  .menu a{
    text-decoration: none;
    padding-right: 25px;
    display: block;
    margin: 10px;
  }

  #toggle:checked + .menu{
    display: block;
  }

  #home h1{
    margin-top: 40px;
  }

  #contact form input[]{
    width: 100%;
    margin-bottom: 5px;
  }

  .button_1{
    display:block;
    width: 100%;
  }
  #about .reveal-content-2 p{
    text-align: center;
    font-size: 10px;
  }
}
