body {
     background: #181818;
}

svg {
     width: 60%;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
}

@keyframes rightArrow{
  0% {opacity:0; transform: translateX(0)}
  50% {transform: translateX(1275px)}
  100% {opacity:1; transform: translateX(1275px)}
}

#Intro img{
  padding-top: 40px;
  animation-name: rightArrow;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  cursor: pointer;
}

nav a img{
  width: 50px;

}
